<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>    
    <target name="ex" xsi:type="File" fileName="C:\Users\Мечта\source\repos\numbers\warehouse\ex-${shortdate}.txt" layout="${logger}|${longdate}|${threadid}|${level}|${message} ${newline}${exception:format=tostring}" />
    <target name="inf" xsi:type="File" fileName="C:\Users\Мечта\source\repos\numbers\warehouse\inf-${shortdate}.txt" layout="${logger}|${longdate}|${threadid}|${level}|${message}" />
    <target name="console" xsi:type="Console" />
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="ex, console" />
    <logger name="*" minlevel="Info" writeTo="inf, console" />
  </rules>
</nlog>
